@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.hero-header {
    background: url('./hero2.jpg') top right no-repeat;
    background-size: cover;
    background-position: center calc(100% + 300px);
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    z-index: 1;
}

.hero-header .container {
    position: relative;
    z-index: 2;
}

/* Szöveg stílusai */
.hero-header h1,
.hero-header h2 {
    color: #ffffff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-family: 'Poppins', sans-serif; /* Modern betűtípus */
}

.hero-header h1 {
    font-size: 4rem; /* Nagyobb betűméret */
    font-weight: 700; /* Vastag betűk */
    margin-bottom: 20px;
    letter-spacing: -1px; /* Betűk közötti tér csökkentése */
    line-height: 1.2; /* Sorok közötti tér */
}

.hero-header h2 {
    font-size: 2.5rem; /* Közepes betűméret */
    font-weight: 600; /* Közepesen vastag betűk */
    letter-spacing: -0.5px; /* Betűk közötti tér csökkentése */
    line-height: 1.3; /* Sorok közötti tér */
}

/* Reszponzív stílusok */
@media (min-width: 750px) and (max-width: 1300px) {
    .hero-header {
        background-size: cover;
        background-position: center;
        background-color: #000;
    }
}

@media (max-width: 767.98px) {
    .hero-header {
        min-height: 400px;
        background: url('./TomiHD.png') top right no-repeat;
        background-size: cover;
        background-position: center;
        align-items: flex-end;
        padding-bottom: 50px;
    }

    .hero-header h1 {
        font-size: 2.5rem;
        transform: translateY(-170px);
        line-height: 1.1;
    }

    .hero-header h2 {
        font-size: 1.5rem;
        transform: translateY(-10px);
        line-height: 1.2;
    }
}