.custom-topbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    line-height: 1.2;
    background-color: #f8f9fa;
}

.custom-topbar .fs-1 {
    font-size: 1.25rem !important;
}

.custom-topbar h6 {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
}

.custom-topbar span {
    font-size: 0.75rem;
}

.custom-topbar .col-lg-4 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.custom-topbar .border-start,
.custom-topbar .border-end {
    border-color: rgba(0, 0, 0, 0.1) !important;
}